body {
  padding: 1rem;
}
body * {
}


#suggestions-wrapper{
    padding: 0 10px 0 0;
    margin: 0;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
}
.suggestion{
    background-color: #fff;
    font-family: sans-serif;
    max-width: 900px;
    display: block;
    border: 1px solid #eee;
    transition: .3s;
}
.suggestion .suggestion-info{
    color: #7b7b7b;
}
.suggestion:hover{
    cursor: pointer;
    border: 1px solid #000;
    background-color: #eee;
}

.container{
    padding: 0 10px;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}

input {
  display: block;
  font-size: 16px;
  max-width: 900px;
  width: 100%;
  padding: 4px;
}

.result {
  min-width: 300px;
}

.row {
  padding: 0 10px;
  margin-top: 1em;
}

.row label {
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  min-width: 10em;
}

.row input,
.row textarea {
  width: 100%;
}

